[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "jsonstat"]
	path = jsonstat
	url = https://github.com/cran/jsonstat
[submodule "refnr"]
	path = refnr
	url = https://github.com/zedoul/refnr
